PORT=3001
MONGO_URI=mongodb+srv://<USERNAME>:<PASSWORD>@cluster0.h05h40t.mongodb.net/<DATABASE_NAME>?retryWrites=true&w=majority&appName=<CLUSTER_NAME>
FRONTEND_ORIGIN=http://localhost:5173
JWT_SECRET=<SUPER_LONG_RANDOM_SECRET>

CLOUDINARY_CLOUD_NAME=<CLOUDINARY_CLOUD_NAME>
CLOUDINARY_API_KEY=<CLOUDINARY_API_KEY>
CLOUDINARY_API_SECRET=<CLOUDINARY_API_SECRET>
CLOUDINARY_AUTH_TOKEN_SECRET=<SUPER_LONG_RANDOM_SECRET>